:root{
    --first-background-color: #2F303A;
    --second-background-color-main: #FFFFFF;
    --hovercolor-none-active: #F5F4FA;
    --hovercolor-active: #2196F3;
    --sub-text: #757575;
    --main-text: #212121;
    --main-font: "Roboto";
    --logo-font: "Raleway";
}

*{
    font-family: var(--main-font);
}

.header{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content : center;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--main-text);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
}

a:hover{
    color: var(--hovercolor-active);
    font-family: var(--main-font);
    font-weight: 500;
}

.logo{
    font-family: var(--logo-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--hovercolor-active);
    width: 187px;
    margin: 0;
}

.logo-studio{
    font-family: var(--logo-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
}

.header-links-a{
    font-family: var(--main-font);
}

.header-nav{
    color: var(--second-background-color-main);
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ececec;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-nav > .container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links-ul{
    display: flex;
    gap: 50px;
    align-items: center;
}

.info-ul{
    display: flex;
    gap: 50px;
}

.hero{
    width: 100%;
    height: 600px;
    background-color: var(--first-background-color);
    background-image: linear-gradient( rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url(../img/Webstudio_main/hero.png);
    background-size: cover;
}

.cap-h1{
    font-weight: 900;
    text-transform: uppercase;
    color: var(--second-background-color-main);
    width: 700px;
    height: 120px;
    margin: auto;
    text-align: center;
    font-size: 44px;
    padding-top: 200px;
    padding-bottom: 30px;
}

.cap-button{
    display: flex;
    width: 220px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    background-color: var(--hovercolor-active);
    color: var(--second-background-color-main);   
    align-items: center; 
    justify-content: center;
    margin: auto;
    margin-top: 90px;
}

.features-ul{
    display: flex;
    gap: 30px;
    margin-block: 95px;
}

.features-li::before{
    display: block;
    content: " ";
    width: calc(100%);
    height: 120px;
    border-radius: 4px;
    border: 0;
    background-color: var(--hovercolor-none-active);
}

.features-li:nth-child(1):before{
    content: " ";
    background-image: url(../img/Webstudio_main/features\ 1.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    size: 70px 70px;
}

.features-li:nth-child(2):before{
    content: " ";
    background-image: url(../img/Webstudio_main/features\ 2.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    size: 70px 70px;
}

.features-li:nth-child(3):before{
    content: " ";
    background-image: url(../img/Webstudio_main/features\ 3.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    size: 70px 70px;
}

.features-li:nth-child(4):before{
    content: " ";
    background-image: url(../img/Webstudio_main/features\ 4.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    size: 70px 70px;
}

.features-li{
    flex-direction: column;
    width: calc((100% - 90px) / 4);
}

.features-h2{
    font-family: var(--main-font);
    color: var(--main-text);
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.features-p{
    font-family: var(--main-font);
    color: var(--sub-text);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.our-work-ul{
    width: 1170px;
    height: 294px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.our-work-li{
    height: 294px;
    display: inline-flex;
    height: auto;
}

.our-work-h2{
    font-family: var(--main-font);
    color: var(--main-text);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-team-background{
    width: 100%;
    height: 648px;
    background-color: var(--hovercolor-none-active);
}

.our-team-div{
    background-color: var(--second-background-color-main);
    height: 368px;
    border: 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 6px 0px rgba(21,21,21,0.4);
}

.our-team-h2{
    color: var(--main-text);
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 92px;
    margin-top: 0;
    margin-bottom: 50px;
}

.our-team-ul{
    width: 1170px;
    height: 368px;
    display: flex;
    margin: auto;
}

.our-team-li{
    display: inline-flex;
    margin: auto;
}

.our-team-name{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.our-team-worker{
    font-family: var(--main-font);
    color: var(--sub-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.footer-background{
    background-color: var(--first-background-color);
    width: 100%;
    height: 252px;
}

.logo-footer{
    font-family: var(--logo-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--hovercolor-active);
    margin: 0;
}

.logo-studio-footer{
    font-family: var(--logo-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--second-background-color-main);
}

.footer-p{
    color: var(--second-background-color-main);
    margin-bottom: 0;
}

.footer-a{
    color: rgba(255, 255, 255, 0.6);
}

.footer-li-email{
    margin-block: 9px;
}

.footer-ul{
    margin-left: 215px;
    padding-block: 60px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-ul{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 575px;
    height: 54px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.button-li{
    display: inline-flex;
    justify-content: space-between;
    row-gap: 10px;
}

.button{
    width: 73px;
    height: 38px;
    border-radius: 4px;
    border: 0px solid;
    display: flex;
    row-gap: 8px;
    block-size: 38px;
    inline-size: auto;
    padding: 0px;
    row-gap: 8px;
}

.button-p{
    padding-inline: 22px;
    padding-block: 4px;
    border-radius: 4px;
    border: 0px solid;
    margin: 0px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    text-wrap: nowrap;
}

.button:hover{
    box-shadow: 0 2px 6px 0px rgba(21,21,21,0.4);
    background-color: var(--hovercolor-active);
    color: var(--second-background-color-main);
}

.project-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 92px;
}

.project-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-h2{
    color: var(--main-text);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    Width: 322px;
    Height: 36px;
    margin: 0;
}

.project-p{
    color: var(--sub-text);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 322px;
    height: 30px;
    margin: 0;
}

.project-li {
    width: calc((100% - 60px) / 3);
    height: 404px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.project-li:hover{
    box-shadow: 2px 2px 2px rgba(117,117,117,0.5);
}

.project-div {
    height: 110px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    letter-spacing: 0;
}
